@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Stock simulator</h1>
    <p class="lead">Price is function of product's availability</p>
    <p>Whenever you buy a product it will subtract from your balance...</p>
    <p>You have to increase your balance by selling products at their lowest market availability record</p>
</div>
